<div class="row">
    <div class="col-md-6 mx-auto" align="center">
        <h3>Nombre Precio</h3>
        <div *ngIf="ids">
            <div class="input-group mb-3" *ngFor="let items of ids.versions[0].productOfferingPrices; let id = index;">
                <input type="text" class="form-control" placeholder="{{items.versions[0].name}}"
                    aria-label="Recipient's username" style="background-color: white;" aria-describedby="basic-addon2" disabled>
            </div>
            
        </div>
    </div>

    <div class="col-md-6 mx-auto" align="center">
        <h3>Monto</h3>
        <div *ngIf="ids">
            <div class="input-group mb-3" *ngFor="let items of ids.versions[0].productOfferingPrices; let id = index;">
                <input type="text" class="form-control" placeholder="{{items.versions[0].price.amount}}"
                    aria-label="Recipient's username" style="background-color: white;" aria-describedby="basic-addon2" disabled>
            </div>
    
        </div>
    </div>
</div>